@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Variables
$MainFont: 'Inter';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body {
    font-family: $MainFont !important;
    font-size: 16px;
}
h1 {
    font-weight: 600 !important;
}
// Navbar

// .navbar{
//     background-color: none !important;
//     }

// END Navbar


.main-btn {
    background-color: #0577CC !important;
    color: #fff !important;
    font-weight: 600 !important;
}
.listen-now {
    background-color: black !important;
    color: #fff !important;
    font-weight: 600 !important;
}



// Narrations
.sermonaudio {
    min-width: 80%;
    width: 100%;
    max-width: 100%;
    iframe {
        width:80%;
    }
}
@media(max-width:540px) {
    .sermonaudio {
        iframe {
            width: 90%;
        }
    }
}
// END Narrations